:root {
	font-family: system-ui, sans-serif;
	line-height: 1.25;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	/* place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

body > header {
	margin: 0 auto 1rem;
	padding: 0 1em;
}
body > main {
	margin: 0 auto 1rem;
	padding: 0 1em;
	width: 100%;
	max-width: 50rem;
}

body > footer {
	margin: auto 1rem 0 auto;
}

a {
	color: blue;
}

spotify-to-youtube ul {
	padding: 0;
	list-style: none;
}

.tracks {
	display: flex;
	flex-direction: column;
	/* gap: 1em; */
}

.results {
	display: flex;
	flex-direction: column;
	margin: 1rem 0 1rem 1rem;
}

.results > li {
	display: flex;
	gap: 1em;
	margin-bottom: 1rem;
}

.results:has(input[type='radio']:checked) li ul {
	opacity: 0.25;
}

.results li:has(input[type='radio']:checked) ul {
	outline: 1px solid darkgreen;
	opacity: 1;
}

.results img {
	width: 5rem;
	/* display: none; */
	vertical-align: top;
}

input:not([type='radio']) {
	width: 20rem;
	max-width: 100%;
	margin-bottom: 0.5em;
	min-height: 1.5em;
}

details {
	margin-bottom: 2rem;
}
