:root {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

body {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	/* place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

img {
	max-width: 4rem;
}

ul ul li {
  display: flex;
}

textarea {
  min-height: 5em;
  width: 60ch;
  max-width: 100%;
}
